body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: beige;
}

.top-banner h1 {
  color: rgb(30, 107, 96);
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.top-banner p {
  font-size: 25px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(30, 107, 96)
}

.buttons {
 
}

h2 {
  color: rgb(9, 109, 92);
}

.animal {
  text-align: center;
  float:left;
  width: 325px;
  height: 350px;
  background-color: rgb(212, 232, 212);
  border: 5px solid rgb(135, 150, 135);
  border-radius: 5%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

.animal * {
  margin: auto;
}

.animal img {
  display: block;
}

